snippet _hc

	===  ${1}  ================================================================
	         NAME:  ${2}
	  DESCRIPTION:  ${3}
	===========================================================================

snippet _sc
	 ----------  ${1}  ----------
snippet _lc
	-----------------------------------------------------------------------
	  ${1}
	-----------------------------------------------------------------------
	
