snippet hc

	# ===  ${1}  ================================================================
	#	 AUTHOR:  ${2}
	#   DESCRIPTION:  ${3}
	# ===========================================================================

snippet sc
	# ----------  ${1}  ----------
snippet lc
	# -----------------------------------------------------------------------
	#   ${1}
	# -----------------------------------------------------------------------
