snippet head

	#===  ${0}  ================================================================
	#         NAME:  ${1}
	#  DESCRIPTION:  ${2}
	#===============================================================================

snippet sc
	# ----------  ${0}  ----------
snippet lc
	#-----------------------------------------------------------------------
	#  ${0}
	#-----------------------------------------------------------------------
